#root {
    display: flex;
    justify-content: center;
}

.App {
    text-align: center;
    max-width: 1080px;
    width: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #1b3467;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    /* color: #61dafb; */
    color: #61fb6b;
}

.card-header-section {
    background: #2a3341 !important;
    color: white;
}

.card-header-subsection {
    background: #687da0 !important;
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
